
.slider_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background: none;
  border: 0;
  font-size: 3em;
  top: 38%;
  cursor: pointer;
}

.left {
  left: -10%;
  @media(max-width: 1024px) {
    left: 6%;
    color: white;
  }

  @media(max-width:425px) {
    left: 2%;
    font-size: 30px;
  }
}

.right {
  right: -6%;
  @media(max-width: 1024px) {
    right: 6%;
    color: white;
  }

  @media(max-width:425px) {
    right: 8%;
    font-size: 30px;
  }
}